{% comment %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

{% for obj in product %}
    name:{{ obj.title }}<br>
    description:{{ obj.description }}<br>
    price:{{ obj.price }}<br><br>
    <a href="{% url 'payment:payment' obj.id %}">Pay</a>
    <hr><br>
{% endfor %}


</body>
</html>{% endcomment %}

{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Product</title>

    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static 'product/css/normalize.css' %}"/>
    <link rel="stylesheet" href="{% static 'product/css/global.css' %}"/>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{% static 'product/js/index.js' %}" defer></script>
</head>

<body>
<div class="sr-root">
    <div class="sr-main">
        <section class="container">
            <div>
                {% for obj in product %}
                    <h1>{{ obj.title }}</h1>
                    <h3>{{ obj.description }}</h3>
                    <h4>Purchase a original watch</h4>
                    <a href="{% url 'payment:payment' obj.id %}"><button type="submit" id="submit">Buy</button></a>
                {% endfor %}
            </div>


        </section>

        <div id="error-message"></div>
    </div>
</div>
</body>
</html>